{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="../static/css/style.css">
<div class="container">
    <div class="row loginpage">
        <div class="col-4">
            {% if session['user']['avatar'] %}
            <div>
            <img class="profile-avatar" src="{{ session['user']['avatar'] }}" alt="Your Profile Image">
            </div>
            {% endif %}
            <title>{{ user.first_name}} {{ user.last_name }}</title>
        </div>
        <div class="col-1"></div>
        <div class="col-7">
            <form method="POST" action="/profile" enctype="multipart/form-data"> 
                    <h1>Update Your Profile</h1>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                            <div class="padding">
                                <div class="alert alert-info alert-dismissible fade show">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong>Info!</strong> {{ message }} 
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <!--This is Where Username and Password inputs and Auth-->
                    <div class="form-group"> <!--FirstName-->
                        <label for="firstname">First Name:</label>
                        <input type="text" class="form-control"  placeholder="{{user.first_name}}" name="firstname">
                    </div>
                    <div class="form-group"> <!--LastName-->
                        <label for="lastname">Last Name:</label>
                        <input type="text" class="form-control"  placeholder="{{user.last_name}}" name="lastname">
                    </div>
                    <div class="form-group"> <!--Password-->
                        <label for="password">Password:</label>
                        <input type="password" class="form-control"  placeholder="Password" name="password">
                    </div>
                   
                    <div class="form-group"> <!--Avatar-->
                        <label for="avatar">Avatar:</label>
                        <input type="file" name="avatar" class="form-control"  placeholder="avatar">
                        <img>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary"> <!--Submit Button-->
            </form>
        </div>
    </div>
</div>
{% endblock %}
