body{
    background-color: aqua;
  }

#errorpage h1{
    font-size: 8rem;
    margin-top: 2rem;
}
#errorpage{
    background: url(../img/bigerror.jpg) no-repeat right center;
    height: 100vh;
    display: block;
    position: relative;
    background-size: 50% 50%;
}
.nav-link i{
    margin-right: 10px;
}
.forgotpassword{
    font-style: italic;
}
.signuphere{
    font-style: italic;
}
.loginpage{
    /**Things that need to be added
        -To be Centered on the Page
        -Rounded courners 
    **/
    color: #fff;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 2rem;
    border-radius: 2rem;
}
.getapp{
    font-style: italic;
}