body{
    background-color: aqua;
  }

#errorpage h1{
    font-size: 8rem;
    margin-top: 2rem;
}
#errorpage{
    background: url(../img/bigerror.jpg) no-repeat right center;
    height: 100vh;
    display: block;
    position: relative;
    background-size: 50% 50%;
}
.nav-link i{
    margin-right: 10px;
}

.signuphere{
    font-style: italic;
}
.loginpage{
    height: 600px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 1rem;
    margin-top: 100px;
    align-content: center;
}
.getapp{
    font-style: italic;
}
.title{
    font-size: 20px;
    text-align: center;
    margin: 1.5rem;
}

.hometitle{
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-size: 40px;
    text-align: center;
    background-color: #fff;
    width: auto;
    height: auto;
    border-radius: 1rem;
    margin-top: 5rem;
}
.appleapp{
    width: 200px;
    height: auto;
}

.googleapp{
    width: 200px;
    height: auto;
}

.gramsnap{
    margin: 0.2rem;
    padding-left: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
}