{% extends "base.html" %}
{% block main %}
<div class="container">
	<div class="row">
		{% with messages = get_flashed_messages() %}
				{# Handle messages here #}
			{% endwith %}
		<div class="homepage">
		<p>{{ title }}</p>
		{% if images %}
			<div class="masonry bordered">
			{% for image_object in images.each() %}
				{% with image = image_object.val() %}
				<div>
					<div class="brick editable" data-image='{{ image|tojson }}'>
						<img id="myBtn" src="{{ image.upload_location }}" alt="{{ image.description }}">
						<p>{{ image.name }}</p>
						<p>{{ image.description }}</p>
						<a href="/images/edit/{{ image.id }}"><i class="fas fa-edit"></i></a>
					</div>
				</div>
				{% endwith %}
			{% endfor %}
			</div>
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}

