{% extends "base.html" %}
{% block main %}
<div class="container">
    <div class="row">
        {% if user.logged_in %}
        <div class="welcome">
            <p>Welcome To Gram Snap</p>
            <p>Start Exploring Now:</p>
        </div>
        {% else %}
        <div class="welcome">
            <p>Welcome To Gram Snap</p>
            <p>Login or Register Now:</p>
            <div class="welcomelink">
                <a href="/login">Login</a> 
                <a href="/register">Register</a>
            </div>
        </div>
        {% endif %}
        <div class="homepage">

            Dannys test
            <img src="../static/img/blankavatar.jpg">


        {% if images %}
            <div class="masonry bordered">
            {% for image_object in images.each() %}
                {% with image = image_object.val() %}

                {% set liked = 'fas' %}
                {% set not_liked = 'far' %}
                {% set likes = session['user']['likes'] %}
                <div class="brick" data-image='{{ image|tojson }}'>
                    <img id="myBtn" src="{{ image.upload_location }}" alt="{{ image.description }}">
                </div>
                {% endwith %}
            {% endfor %}
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

